/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
  font-family: 'Work Sans', sans-serif;
   font-size: 100%;
   background:#fff; 
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration:none;
}
.fixed{
	position: fixed;
	top: 0;
	 width:87%;
    margin: 0 auto;
	z-index: 1;
	background:#fff;
}
/*--header main start here--*/
.page-container {
  min-width: 1260px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
.left-content {
    float: right;
        width: 86.5%;
}
.page-container.sidebar-collapsed {
  transition: all 100ms linear;
  transition-delay: 300ms;

}
.page-container.sidebar-collapsed .left-content {
   float: right;
   width: 96%;
}
.page-container.sidebar-collapsed-back {
    transition: all 100ms linear;
}
.page-container.sidebar-collapsed-back .left-content {
  transition: all 100ms linear;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
	float: right;
    width:86%;
}
.page-container.sidebar-collapsed .sidebar-menu {
  width: 65px;
  transition: all 100ms ease-in-out;
  transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
  width: 230px;
  transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed .sidebar-icon {
   transition: all 300ms ease-in-out;
	   color: #fff;
    background:#68AE00;

}
.page-container.sidebar-collapsed .logo {
  box-sizing: border-box;
  transition: all 100ms ease-in-out;
  transition-delay: 300ms;
      left: 18px;
    
}
.page-container.sidebar-collapsed-back .logo {
  width: 100%;
  height:60px;
  box-sizing: border-box;
  transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed #logo {
    opacity: 0;
    transition: all 200ms ease-in-out;
    display: none;
}
.page-container.sidebar-collapsed .down {
    display: none;
}
.page-container.sidebar-collapsed-back #logo {
  opacity: 1;
  transition: all 200ms ease-in-out;
  transition-delay: 300ms;
}

.page-container.sidebar-collapsed #menu span {
  opacity: 0;
  transition: all 50ms linear;
  
}

.page-container.sidebar-collapsed-back #menu span {
  opacity: 1;
  transition: all 200ms linear;
  transition-delay: 300ms;
}
.sidebar-menu {
  position: absolute;
  float: left;
  width: 220px;
  top: 0px;
  left:0px;
  bottom: 0;
  background-color:#202121;
  color: #aaabae;
  z-index: 999;
    
}
#menu {
  
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
#menu li {
  top: 30px;
  position: relative;
  margin: 0;
  font-size: 12px;
  padding: 0;
}
#menu li ul {
  opacity: 0;
  height: 0px;
}
#menu li a {
    position: relative;
    display: block;
    padding: 13px 20px;
    color: #FFFFFF;
    white-space: nowrap;
    z-index: 2;
    font-size: 1.12em;
        text-align: center;
    font-family: 'Carrois Gothic', sans-serif;
}
#menu li a:hover {
  color:#fdbb30;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
#menu li.active > a {
  background-color: #2b303a;
  color: #ffffff;
}
#menu ul li { background-color:#202121; }
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu li ul {
  position: absolute;
  visibility: hidden;
  left: 100%;
  top: 20px;
  background-color: #2b303a;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.1s linear;
  border-top: 1px solid rgba(69, 74, 84, 0.7);
}
#menu li:hover > ul {
  visibility: visible;
  opacity: 1;
}
#menu li li ul {
  right: 100%;
  visibility: hidden;
  top: -1px;
  opacity: 0;
  transition: opacity 0.1s linear;
}
#menu li li:hover ul {
  visibility: visible;
  opacity: 1;
}
#menu .fa {
    margin-bottom: 10px;
    font-size: 1.5em;
    display: block;
}
.menu {
    padding:4.2em 0em 0em 0em;
}
/*----*/
.page-container.sidebar-collapsed .left-content .fixed {
    width: 97%;
}
/*----*/
.logo {
  width:22%;
  box-sizing: border-box;
  position: absolute;
   top: 20px;
   left: 170px;
}
.sidebar-icon {
    position: relative;
    float: left;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    padding: 6px 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    color: #FFF;
    background-clip: padding-box;
    background:#68AE00;
}
.sidebar-icon:hover{
	 color: #FFF;
}
.fa-html5 {
  color: #fff;
  margin-left: 50px;
}
/*--nav strip start here--*/
.header-main {
    background:#fff;
    padding: 1em 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
.header-right {
    float: right;
    width: 50%;
}
.header-left {
    float: left;
    width: 45%;
}
.logo-name {
    float: left;
    width: 30%;
    margin: 0% 3% 0% 2%;
}
.logo-name h1 {
    font-size: 2.5em;
    color: #FC8213;
    margin: 0em;
    font-weight: 700;
    text-decoration: none;
}
.logo-name  h1 a{
	 color: #910048;
}
.logo-name a {
    display:inline-block;
}

span.logo-clr{
	color:#fdbb30;
}
.page-container.sidebar-collapsed-back #menu span.fa.fa-angle-right{
	position: absolute;
    top: 0px;
    right: 20px;
}
/*start search*/
.search-box {
    float: left;
    width:40%;
    margin-top: 0.5em;
	position: relative;
    z-index: 1;
    display: inline-block;
    border:2px solid rgb(197, 197, 197);
}
.search-box input[type="text"] {
    outline: none;
    background: #fff;
    width: 86%;
    margin: 0;
    z-index: 10;
    font-size: 0.9em;
    color: #7A7B78;
    padding: 0.5em 0.5em;
    border: none;
    -webkit-appearance: none;
    display: inline-block;
}
.search-box input[type="submit"] {
    background: url(../images/search.png)no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
   vertical-align: text-top;
    border: none;
    outline: none;
}
::-webkit-input-placeholder{
   color:#7A7B78 !important;
}
/*--//search-ends --*/


@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

@-moz-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}



/*--- User Panel---*/
.profile_details_left {
    float: left;
        width: 50%;
}
.dropdown-menu {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
	-moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
    border-radius: 0;
}
li.dropdown.head-dpdn {
    display: inline-block;
    padding: 1em 0;    
	float: left;
}
li.dropdown.head-dpdn a.dropdown-toggle {
   margin: 1em 2em;
}
ul.dropdown-menu li {
    margin-left: 0;
    width: 100%;
    padding: 0;
	background: #fff;
}



.sidebar .nav-second-level li a.active ,.sidebar ul li a.active{
    color: #F2B33F;
}
li.active a i, .act a i {
    color: #F2B33F;
}


/***** Messages *************/
.notification_header{
	background-color:#FAFAFA;
	padding: 10px 15px;
	border-bottom:1px solid rgba(0, 0, 0, 0.05);
	margin-bottom: 8px;
}
.notification_header h3{	
	color:#6A6A6A;
	font-size:12px;
	font-weight:600;
	margin:0;
}
.notification_bottom {
    background-color:rgba(93, 90, 88, 0.07);
    padding: 4px 0;
    text-align: center;
	margin-top: 5px;
}
.notification_bottom a {
    color: #6F6F6F;
	 font-size: 1em;
}
.notification_bottom a:hover {
    color:#6164C1;
}
.notification_bottom h3 a{	
	color: #717171;
	font-size:12px;
	border-radius:0;
	border:none;
	padding:0;
	text-align:center;
}
.notification_bottom h3 a:hover{	
	color:#4A4A4A;
	text-decoration:underline;
	background:none;
}
.noti_panel_img{
	float:left;
	width:19%;
}
.noti_panel_img img{
	max-width:100%;
	display:block;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;
}
.notification_desc{
	float:left;
	width:70%;
	margin-left:5%;
}
.notification_desc p{
	color:#757575;
	font-size:13px;
	padding:2px 0;
}
.wrapper-dropdown-2 .dropdown li a:hover .notification_desc p{
	color:#424242;
}
.notification_desc p span{
	color:#979797 !important;
	font-size:11px;
}
/*---bages---*/
.header-right span.badge {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    background:#FC8213;
    line-height: 10px;
    width: 15px;
    height: 15px;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -o-border-radius: 2em;
    text-align: center;
    display: inline-block;
    position: absolute;
        top: 20%;
    padding: 2px 0 0;
    left: 54%;
}
.header-right span.blue{
	background-color:#337AB7;
}
.header-right span.red{
	background-color:#ef553a;
}
.header-right span.blue1{
	background-color:#68AE00;
}
i.icon_1{
  float: left;
  color: #00aced;
  line-height: 2em;
  margin-right: 1em;
}
i.icon_2{
  float: left;
  color:#ef553a;
  line-height: 2em;
  margin-right: 1em;
  font-size: 20px;
}
i.icon_3{
  float: left;
  color:#9358ac;
  line-height: 2em;
  margin-right: 1em;
  font-size: 20px;
}
.avatar_left {
  float: left;
}
i.icon_4{
  width: 45px;
  height: 45px;
  background: #F44336;
  float: left;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  line-height: 44px;
  font-style: normal;
  margin-right: 1em;
}
i.icon_5{
  background-color: #3949ab;
}
i.icon_6{
  background-color: #03a9f4;
}
.blue-text {
  color: #2196F3 !important;
  float:right;
}


/********* profile details **********/
ul.dropdown-menu.drp-mnu i.fa {
    margin-right: 0.5em;
}
ul.dropdown-menu {
    padding: 0;
    min-width: 230px;
    top:101%;
}
.dropdown-menu > li > a {
    padding: 3px 15px;
	font-size: 1em;
}
.profile_details {
    float: right;
}
.profile_details_drop .fa.fa-angle-up{
	display:none;
}
.profile_details_drop.open .fa.fa-angle-up{
    display:block;
}
.profile_details_drop.open .fa.fa-angle-down{
	display:none;
}
.profile_details_drop a.dropdown-toggle {
    display:block;
	padding:0em 3em 0 1em;
}
.profile_img span.prfil-img{
	float:left;
}
.user-name{
	 float:left;
	 margin-top:7px;
	 margin-left:11px;
	 height:35px;
}
.profile_details ul li{
	list-style-type:none;
	position:relative;
}
.profile_details li a i.fa.lnr {
    position: absolute;
    top: 34%;
    right: 8%;
    color: #68AE00;
    font-size: 1.6em;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
    padding: 1em;
    min-width: 190px;
    top: 122%;
    left:0%;
}
ul.dropdown-menu.drp-mnu li {
    list-style-type: none;
    padding: 3px 0;
}
.user-name p{
	font-size:1em;
	color:#FC8213;
	line-height:1em;
	font-weight:700;
}
.user-name span {
    font-size: .75em;
    font-style: italic;
    color: #424f63;
    font-weight: normal;
    margin-top: .3em;
}
.profile_details ul {
    padding: 0px;
}
/*--header nav bar ends here-*/


/*inner-block--*/
.inner-block {
    padding: 8em 2em 4em 2em;
    background: #fafafa;
}
.quick-facts-block {
    padding: 2em 2em;
    background: #999;
}
.quick-facts-block h3 {
    color: #fff;
    font-size: 2.5em;
    font-family: 'Carrois Gothic', sans-serif;
}
.quick-facts-block h4 {
	font-size: 1.2em;
    color: #fff;
    margin: 0.3em 0em;
   font-family: 'Carrois Gothic', sans-serif;
}
.quick-facts-block p {
    color: #fff;
    font-size: 0.8em;
    line-height: 1.8em;
}
.quick-facts-block.clr-block-1 {
    background: #68ae00;
    margin-right: 0.8em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.quick-facts-block.clr-block-2 {
    background:#FC8213;
    margin-right: 0.8em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.quick-facts-block.clr-block-3 {
    background:#337AB7;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.quick-facts-block.clr-block-1:hover {
    background: #3C3C3C;
   transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.quick-facts-block.clr-block-2:hover {
    background: #3C3C3C;
   transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.quick-facts-block.clr-block-3:hover {
    background:#3C3C3C;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.quick-facts-right i.fa.fa-file-text-o {
    font-size: 3em;
    color:#68AE00;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius:49px;
    -o-border-radius:49px;
    line-height: 1.7em;
}
.quick-facts-right i.fa.fa-eye {
     font-size: 3em;
    color:#FC8213;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius:49px;
    -o-border-radius:49px;
    line-height: 1.7em;
}
.quick-facts i.fa.fa-envelope-o {
     font-size:3em;
    color:#337AB7;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius:49px;
    -o-border-radius:49px;
    line-height: 1.7em;
}
.quick-facts-left {
    padding: 0px;
}







li.dropdown.head-dpdn a.dropdown-toggle {
   margin: 1em 1.6em;
}

.search-box input[type="text"] {
    width: 83%;
}


@media (max-width:768px){
.page-container {
	min-width:650px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: 0px auto;
 }
.sidebar-menu {
	position:absolute;
	float: left;
	width: 170px;
}
.left-content {
	float: right;
    width: 92%;
}
.page-container.sidebar-collapsed {
	transition: all 100ms linear;
	transition-delay: 300ms;
}
.fixed {
    width: 92%;
}
.page-container.sidebar-collapsed .left-content .fixed {		   
    width: 97%;
}
.page-container.sidebar-collapsed-back {
	transition: all 100ms linear;
}
.page-container.sidebar-collapsed-back .left-content {
	transition: all 100ms linear;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	float: right;
	width: 92%;
}
.page-container.sidebar-collapsed .sidebar-menu {
	 width:180px;	
	transition: all 100ms ease-in-out;
	transition-delay: 300ms;
}
.page-container.sidebar-collapsed-back .sidebar-menu {
	width: 65px;
	transition: all 100ms ease-in-out;
}
#menu li a {
    padding: 20px 20px;
    text-align: left !important;
}
#menu .fa {
    margin-bottom: 9px;
}
.logo {
    left: 16px;
}

			.page-container.sidebar-collapsed-back #menu span{
			  display:none;
			}
			.page-container.sidebar-collapsed #menu span {
					opacity: 1;
					transition: all 50ms linear;
					 display:block;
					
				}
				#menu span {
				opacity:0;
				transition: all 50ms linear;
				display: block;
				
			}
			span.fa.fa-angle-right,span.fa.fa-angle-double-right {
				
				
				right: 12px!important;
			}
            .sidebar-menu {
				width: 65px;
				transition: all 100ms ease-in-out;
				transition-delay: 300ms;
			}

}			
@media (max-width:736px){
.malorm-bottom p {
    font-size: 0.7em;
}	

}
@media (max-width:667px){
li.dropdown.head-dpdn a.dropdown-toggle {
    margin: 1em 0.9em;
}
.user-name {
    margin-left: 5px;	
}

.logo-name h1 {
    font-size: 1.6em;
    margin-top: 0.35em;
}

@media (max-width:640px){
.header-left {
    float: none;
    width: 100%;
    margin-bottom: 0.4em;
}	
.search-box {
    margin-top: 0em;
}
.header-right {
    float: none;
    width: 100%;
}
.logo-name h1 {
    font-size: 1.9em;
}
.logo-name h1 {
    font-size: 2em;
}
.inner-block {
    padding: 10em 2em 2em 2em;
}

.project-eff:hover span.rollover1 {
    width: 253px;
}
.left-content {
    width:90%;
}

.page-container.sidebar-collapsed-back .left-content {
    width: 90%;
}
.page-container {
    min-width: 640px;
}

.grid_3.grid_4 {
    padding: 1em 1em;
}

.search-box input[type="text"] {
    width: 90%;
}

@media (max-width:600px){
.page-container {
    min-width: 600px;
}

.search-box input[type="text"] {
    width: 88%;
}

@media (max-width:568px){
.page-container {
    min-width: 565px;
}

.search-box input[type="text"] {
    width: 88%;
}

@media (max-width:480px){
.page-container {
    min-width: 495px;
}
.quick-facts-gd {
    float: none;
    width: 100%;	
}
.left-content {
    width: 87%;
}
.page-container.sidebar-collapsed-back .left-content {
    width: 87%;
}
.quick-facts-block.clr-block-1 {
    margin: 0em 0em 1em 0em;
}
.quick-facts-block.clr-block-2 {
    margin: 0em 0em 1em 0em;
}
canvas#bar {
    width: 335px !important;
}
.page-container {
    min-width: 480px;
}
.inner-block {
    padding: 10em 1em 2em 1em;
}

.popular-follow {
    margin-top: 1em;
}
.profile_details li a i.fa.lnr {
    right: 5%;
}
.cols-grids {
    padding: 0em 0em;
}

h1#h1-bootstrap-heading {
    font-size: 1.5em;
}
h2#h2-bootstrap-heading {
    font-size: 1.4em;
}
h3#h3-bootstrap-heading {
    font-size: 1.3em;
}



.login-head h1 {
    font-size: 2.5em;
    padding: 1.3em 0em 0em 0em;
}


.float-left {
    float: none;
    width: 100%;
}
.float-right {
    width: 100%;
    float: none;
    margin-top: 0.8em;
}

.blank {
    min-height: 480px;
}
.blankpage-main p {
    font-size: 0.9em;
}

.search-box input[type="text"] {
    width: 85%;
}
.search-box input[type="submit"] {
    background: url(../images/search.png)no-repeat 2px 2px;
    background-size: 15px;
}
}
@media (max-width:414px){
.page-container {
    min-width: 410px;
}

.profile_details ul li ul.dropdown-menu.drp-mnu {
    min-width: 165px;
}
canvas#line {
    width: 295px !important;
}
}
@media (max-width:384px){
.page-container {
    min-width: 380px;
}
.left-content {
    width: 83%;
}
canvas#bar {
    width: 275px !important;
}
.header-main {
    padding: 1em 1em;	
}
.fixed {
    width: 83%;
}
.logo-name h1 {
    font-size: 1.8em;
    margin-top: 0em;
}

.search-box input[type="text"] {
    width: 82%;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
    min-width: 146px;
}
ul.dropdown-menu {
    min-width: 198px;
}
.profile_details li a i.fa.lnr {
    right: -5%;

}
@media (max-width:375px){
.page-container {
    min-width: 375px;
}
}
@media (max-width:320px){
.page-container {
    min-width: 303px;
}
.logo-name h1 {
    font-size: 1.4em;
}
.left-content {
    width: 86%;
}
.page-container.sidebar-collapsed-back .left-content {
    width: 83%;
}
.header-main {
    padding: 1em 0.5em;	
}
li.dropdown.head-dpdn a.dropdown-toggle {
    margin: 1em 0.4em;
}
.search-box {
    width: 50%;
}
.search-box input[type="text"] {
    width: 76%;
}
.profile_details_left {
    width: 40%;
}
.profile_details {
    width: 60%;
}
.fixed {
    width: 84%;
}
.search-box {
    width: 60%;
    font-size: 0.8em;
}
.user-name {
    margin-left: 2px;
}
.profile_details li a i.fa.lnr {
    right: 1%;
}

h3.tlt {
    font-size: 1em;
}

.search-box input[type="text"] {
    width: 80%;
    font-size: 0.95em;
    padding: 0.5em 0.5em;
}


.cols-grids h2 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
}


.panel-body {
    padding: 10px;
}

.btn-main-heading h2 {
    font-size: 1.6em;
    margin-bottom: 0.5em;
}
.button-heading h4 {
    font-size: 1.1em;
}
.col-lg-6.mb-60 {
    padding: 0px;
}

.blank h2 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
}
.blankpage-main {
    padding: 1em 1em;
    margin-top: 2em;
}
.blankpage-main p {
    font-size: 0.8em;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
    width: 55px;
}
.sidebar-menu {
    width: 45px;
}
.logo {
    left: 7px;
}
.page-container.sidebar-collapsed .logo {
    left: 7px;
}
#menu li a {
    padding: 15px 10px;
    font-size: 1em;
}
ul.dropdown-menu {
    min-width: 195px;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
    min-width: 160px;
}

.page-container.sidebar-collapsed .sidebar-menu {
    width: 130px;
}
.quick-facts-block h3 {
    font-size: 1.7em;
    }
